body {
    background-color: gray;
}

h1,
h2 {
    font-family: 'Anton';
}

.nav-link {
    color: gray;
}

.container {
    margin-top: 50px;
    padding: 30px;
    background-color: white;
}

#exampleInputMessage {
    height: 150px;
}

footer {
    background-color: lightgray;
    width: 100%;
    padding: 3px;
    color: darkgray;
    text-align: center;
    position: fixed;
    bottom: 0;
}